# Import library

In [1]:
import pandas as pd

# Import Datasets

In [2]:
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv")

# df = pd.read_csv("C:\\Users\\Lenovo\\OneDrive\\Desktop\\Python\\Pandas\\Health_systems.csv")

df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [3]:
df.head()

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN

In [4]:
df.head(20)

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
5,Antigua and Barbuda,NaN,Antigua and Barbuda,4.3,60.6,32.2,623.1,976.4,0.0,2.8,3.1,14.0,NaN,79.0
6,Argentina,NaN,Argentina,7.5,74.4,15.8,955.2,1531.0,0.6,4.0,2.6,50.1,100.0,100.0
7,Armenia,NaN,Armenia,9.9,16.5,80.6,358.8,876.9,1.7,2.9,5.6,86.7,99.3,76.0
8,Australia,NaN,Australia,9.3,68.3,18.9,5002.4,4529.9,0.0,3.6,12.7,45.1,100.0,100.0
9,Austria,NaN,Austria,10.4,72.5,18.9,4688.3,5295.2,NaN,5.1,8.2,109.9,100.0,100.0
10,Azerbaijan,NaN,Azerbaijan,6.9,20.0,78.9,268.2,1193.1,0.4,3.4,7.0,67.6,NaN,NaN
11,Bahamas,NaN,"Bahamas, The",6.4,49.9,27.7,1835.2,1435.6,0.4,1.9,3.1,NaN,NaN,93.0
12,Bahrain,NaN,Bahrain,4.9,61.4,28.0,1099.4,1866.3,0.0,0.9,2.5,14.4,NaN,88.0
13,Bangladesh,NaN,Bangladesh,2.4,18.0,71.9,34.2,90.6,7.6,0.5,0.3,2.9,20.2,NaN
14,Barbados,NaN,Barbados,7.0,45.9,45.2,1163.8,1323.0,1.7,2.5,6.0,17.2,99.0,100.0
15,Belarus,NaN,Belarus,6.3,61.4,35.8,318.0,1151.4,0.2,4.1,11.4,124.2,100.0,100.0
16,Belgium,NaN,Belgium,10.0,84.1,15.9,4149.4,4667.9,0.0,3.3,11.1,89.8,100.0,100.0
17,Belize,NaN,Belize,6.1,66.3,22.9,303.6,541.4,3.8,1.1,1.7,10.5,96.0,100.0
18,Benin,NaN,Benin,3.9,20.5,43.5,30.4,83.5,30.5,0.2,0.6,1.9,85.6,NaN
19,Bhutan,NaN,Bhutan,3.5,74.0,20.1,91.3,293.1,4.8,0.4,1.5,2.9,100.0,NaN

In [5]:
df.tail()

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [6]:
df.tail(30)

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
180,Sweden,NaN,Sweden,10.9,83.5,15.2,5710.6,5386.7,NaN,5.4,11.5,113.1,100.0,100.0
181,Switzerland,NaN,Switzerland,12.2,62.8,29.6,9836.0,7867.4,NaN,4.2,17.3,94.8,100.0,100.0
182,Syria,NaN,Syrian Arab Republic,NaN,NaN,NaN,NaN,NaN,NaN,1.2,1.5,NaN,NaN,92.0
183,NaN,NaN,Tajikistan,7.0,28.6,66.1,55.7,208.5,5.1,1.7,5.2,41.7,95.8,NaN
184,Tanzania,NaN,Tanzania,4.1,40.6,21.9,35.5,112.0,36.4,0.0,0.4,0.5,26.4,NaN
185,Thailand,NaN,Thailand,3.7,78.1,12.1,221.9,635.0,0.2,0.8,3.0,13.1,100.0,NaN
186,Timor-Leste,NaN,Timor-Leste,4.0,55.8,8.9,79.9,121.7,31.6,0.7,1.7,0.9,60.4,NaN
187,Togo,NaN,Togo,6.6,20.0,50.4,38.8,99.9,20.7,0.0,0.3,0.5,78.0,NaN
188,NaN,NaN,Tonga,5.3,65.9,11.0,203.2,311.4,19.4,0.5,3.9,14.0,93.0,NaN
189,Trinidad and Tobago,NaN,Trinidad and Tobago,6.5,52.8,40.1,1063.8,2180.5,0.1,2.7,3.5,30.9,97.0,85.0
190,Tunisia,NaN,Tunisia,7.0,56.6,39.9,256.5,806.3,0.1,1.3,2.6,11.5,99.0,37.0
191,Turkey,NaN,Turkey,4.3,78.4,16.5,468.6,1089.2,NaN,1.8,2.6,47.6,99.0,78.0
192,NaN,NaN,Turkmenistan,6.6,18.5,76.2,422.8,1116.9,0.2,2.2,4.6,58.8,100.0,NaN
193,NaN,NaN,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,Tuvalu,15.5,84.5,0.7,507.4,601.0,12.2,0.9,3.8,26.1,NaN,NaN
195,Uganda,NaN,Uganda,6.2,16.6,40.3,37.6,117.1,40.4,0.1,0.6,1.1,32.2,NaN
196,Ukraine,NaN,Ukraine,6.7,42.4,54.3,141.2,534.2,0.8,3.0,7.1,86.6,100.0,99.0
197,United Arab Emirates,NaN,United Arab Emirates,3.5,72.5,18.6,1323.1,2546.2,0.0,2.4,5.6,NaN,100.0,87.0
198,United Kingdom,NaN,United Kingdom,9.8,80.2,15.1,3958.0,4177.8,0.0,2.8,8.3,133.3,100.0,100.0
199,US,NaN,United States,17.1,81.8,11.1,9869.7,9869.7,0.0,2.6,8.6,54.7,100.0,98.0
200,Uruguay,NaN,Uruguay,9.1,71.7,17.4,1379.1,1958.9,0.0,5.0,1.9,38.9,100.0,99.0
201,Uzbekistan,NaN,Uzbekistan,6.3,46.1,52.2,135.1,416.9,1.2,2.4,12.1,50.4,NaN,NaN
202,NaN,NaN,Vanuatu,3.7,53.9,8.4,109.8,116.1,34.6,0.2,1.4,3.2,43.0,NaN
203,Venezuela,NaN,"Venezuela, RB",3.2,24.1,40.0,1578.4,940.0,0.0,NaN,NaN,18.1,81.0,100.0
204,Vietnam,NaN,Vietnam,5.7,47.4,44.6,122.8,356.3,2.3,0.8,1.4,NaN,96.0,NaN
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [7]:
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",nrows = 1)

# Access a perticular row

df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0,42.3,NaN

In [8]:
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",nrows = 20)

df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
5,Antigua and Barbuda,NaN,Antigua and Barbuda,4.3,60.6,32.2,623.1,976.4,0.0,2.8,3.1,14.0,NaN,79.0
6,Argentina,NaN,Argentina,7.5,74.4,15.8,955.2,1531.0,0.6,4.0,2.6,50.1,100.0,100.0
7,Armenia,NaN,Armenia,9.9,16.5,80.6,358.8,876.9,1.7,2.9,5.6,86.7,99.3,76.0
8,Australia,NaN,Australia,9.3,68.3,18.9,5002.4,4529.9,0.0,3.6,12.7,45.1,100.0,100.0
9,Austria,NaN,Austria,10.4,72.5,18.9,4688.3,5295.2,NaN,5.1,8.2,109.9,100.0,100.0
10,Azerbaijan,NaN,Azerbaijan,6.9,20.0,78.9,268.2,1193.1,0.4,3.4,7.0,67.6,NaN,NaN
11,Bahamas,NaN,"Bahamas, The",6.4,49.9,27.7,1835.2,1435.6,0.4,1.9,3.1,NaN,NaN,93.0
12,Bahrain,NaN,Bahrain,4.9,61.4,28.0,1099.4,1866.3,0.0,0.9,2.5,14.4,NaN,88.0
13,Bangladesh,NaN,Bangladesh,2.4,18.0,71.9,34.2,90.6,7.6,0.5,0.3,2.9,20.2,NaN
14,Barbados,NaN,Barbados,7.0,45.9,45.2,1163.8,1323.0,1.7,2.5,6.0,17.2,99.0,100.0
15,Belarus,NaN,Belarus,6.3,61.4,35.8,318.0,1151.4,0.2,4.1,11.4,124.2,100.0,100.0
16,Belgium,NaN,Belgium,10.0,84.1,15.9,4149.4,4667.9,0.0,3.3,11.1,89.8,100.0,100.0
17,Belize,NaN,Belize,6.1,66.3,22.9,303.6,541.4,3.8,1.1,1.7,10.5,96.0,100.0
18,Benin,NaN,Benin,3.9,20.5,43.5,30.4,83.5,30.5,0.2,0.6,1.9,85.6,NaN
19,Bhutan,NaN,Bhutan,3.5,74.0,20.1,91.3,293.1,4.8,0.4,1.5,2.9,100.0,NaN

In [9]:
# get the perticular columns 
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",usecols = ["Health_exp_per_capita_USD_2016"])

df

     Health_exp_per_capita_USD_2016
0                              57.2
1                             271.5
2                             260.4
3                            3834.7
4                              95.2
..                              ...
205                             NaN
206                             NaN
207                            72.0
208                            56.5
209                            93.9

[210 rows x 1 columns]

In [10]:
# To get multiple columns write the columns number as a string
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",usecols = ["World_Bank_Name","Country_Region","Province_State"])

df

    Country_Region  Province_State        World_Bank_Name
0      Afghanistan             NaN            Afghanistan
1          Albania             NaN                Albania
2          Algeria             NaN                Algeria
3          Andorra             NaN                Andorra
4           Angola             NaN                 Angola
..             ...             ...                    ...
205             US  Virgin Islands  Virgin Islands (U.S.)
206            NaN             NaN     West Bank and Gaza
207            NaN             NaN            Yemen, Rep.
208         Zambia             NaN                 Zambia
209       Zimbabwe             NaN               Zimbabwe

[210 rows x 3 columns]

In [11]:
# using only column index number
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",usecols = [2,4])
df

           World_Bank_Name  Health_exp_public_pct_2016
0              Afghanistan                         5.1
1                  Albania                        41.4
2                  Algeria                        67.7
3                  Andorra                        49.1
4                   Angola                        44.1
..                     ...                         ...
205  Virgin Islands (U.S.)                         NaN
206     West Bank and Gaza                         NaN
207            Yemen, Rep.                        10.2
208                 Zambia                        38.3
209               Zimbabwe                        46.5

[210 rows x 2 columns]

In [12]:
# Skip particular rows
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",skiprows = [1])
df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
1,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
2,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
3,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
4,Antigua and Barbuda,NaN,Antigua and Barbuda,4.3,60.6,32.2,623.1,976.4,0.0,2.8,3.1,14.0,NaN,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
206,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
207,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
208,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [13]:
# Make a index of any columns
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",index_col="Country_Region")
df

,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
Country_Region,,,,,,,,,,,,,
Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [14]:
# Make a heading of any rows number
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",header= 2)
df

,Albania,Unnamed: 1,Albania.1,6.7,41.4,58,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53
0,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
1,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
2,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
3,Antigua and Barbuda,NaN,Antigua and Barbuda,4.3,60.6,32.2,623.1,976.4,0.0,2.8,3.1,14.0,NaN,79.0
4,Argentina,NaN,Argentina,7.5,74.4,15.8,955.2,1531.0,0.6,4.0,2.6,50.1,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
205,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
206,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
207,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [15]:
# Change the datatype in floats
df = pd.read_csv(r"C:\Users\Lenovo\OneDrive\Desktop\Python\Pandas\Health_systems.csv",dtype={"Nurse_midwife_per_1000_2009-18":"float"})
df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [16]:
df[:5] # See the data only 0 to 4 index

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN

In [17]:
df[6:10] # in this index number last number is not included

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
6,Argentina,NaN,Argentina,7.5,74.4,15.8,955.2,1531.0,0.6,4.0,2.6,50.1,100.0,100.0
7,Armenia,NaN,Armenia,9.9,16.5,80.6,358.8,876.9,1.7,2.9,5.6,86.7,99.3,76.0
8,Australia,NaN,Australia,9.3,68.3,18.9,5002.4,4529.9,0.0,3.6,12.7,45.1,100.0,100.0
9,Austria,NaN,Austria,10.4,72.5,18.9,4688.3,5295.2,NaN,5.1,8.2,109.9,100.0,100.0

In [18]:
df.index.array # convert to index number in array

<PandasArray>
[  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
 ...
 200, 201, 202, 203, 204, 205, 206, 207, 208, 209]
Length: 210, dtype: int64

In [19]:
# Covert to the numpy array
df.to_numpy()

array([['Afghanistan', nan, 'Afghanistan', ..., 0.0, 42.3, nan],
       ['Albania', nan, 'Albania', ..., 11.6, 98.4, 53.0],
       ['Algeria', nan, 'Algeria', ..., 12.1, 100.0, nan],
       ...,
       [nan, nan, 'Yemen, Rep.', ..., 0.8, 30.7, nan],
       ['Zambia', nan, 'Zambia', ..., 1.5, 11.3, nan],
       ['Zimbabwe', nan, 'Zimbabwe', ..., 1.6, 38.0, nan]], dtype=object)

# Columns Visulazation

In [20]:
df.columns

Index(['Country_Region', 'Province_State', 'World_Bank_Name',
       'Health_exp_pct_GDP_2016', 'Health_exp_public_pct_2016',
       'Health_exp_out_of_pocket_pct_2016', 'Health_exp_per_capita_USD_2016',
       'per_capita_exp_PPP_2016', 'External_health_exp_pct_2016',
       'Physicians_per_1000_2009-18', 'Nurse_midwife_per_1000_2009-18',
       'Specialist_surgical_per_1000_2008-18',
       'Completeness_of_birth_reg_2009-18',
       'Completeness_of_death_reg_2008-16'],
      dtype='object')

In [21]:
df.index

RangeIndex(start=0, stop=210, step=1)

In [22]:
df.sort_index(axis=0,ascending = True) # Arrange the data according to rows in ascending order

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Afghanistan,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [23]:
df.sort_index(axis=1,ascending = True) # Arrange the data according to columns in ascending order

,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16,Country_Region,External_health_exp_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_pct_GDP_2016,Health_exp_per_capita_USD_2016,Health_exp_public_pct_2016,Nurse_midwife_per_1000_2009-18,Physicians_per_1000_2009-18,Province_State,Specialist_surgical_per_1000_2008-18,World_Bank_Name,per_capita_exp_PPP_2016
0,42.3,NaN,Afghanistan,17.5,77.4,10.2,57.2,5.1,0.3,0.3,NaN,0.0,Afghanistan,162.8
1,98.4,53.0,Albania,0.7,58.0,6.7,271.5,41.4,3.6,1.2,NaN,11.6,Albania,759.7
2,100.0,NaN,Algeria,0.0,30.9,6.6,260.4,67.7,2.2,1.8,NaN,12.1,Algeria,998.2
3,100.0,80.0,Andorra,NaN,41.7,10.4,3834.7,49.1,4.0,3.3,NaN,83.1,Andorra,4978.7
4,25.0,NaN,Angola,3.6,35.2,2.9,95.2,44.1,1.3,0.2,NaN,NaN,Angola,185.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,NaN,NaN,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands,NaN,Virgin Islands (U.S.),NaN
206,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West Bank and Gaza,NaN
207,30.7,NaN,NaN,7.8,81.0,5.6,72.0,10.2,0.7,0.3,NaN,0.8,"Yemen, Rep.",144.5
208,11.3,NaN,Zambia,42.5,12.1,4.5,56.5,38.3,0.9,0.1,NaN,1.5,Zambia,175.2
209,38.0,NaN,Zimbabwe,25.4,21.2,9.4,93.9,46.5,1.2,0.1,NaN,1.6,Zimbabwe,185.0

In [24]:
df.loc[0,"Country_Region"] = "Pyhton" # For Rename using loc[index, column name] = change name

In [25]:
df

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Pyhton,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [26]:
# Get the particular data

df.loc[[2,5],["Country_Region","World_Bank_Name"]]

        Country_Region      World_Bank_Name
2              Algeria              Algeria
5  Antigua and Barbuda  Antigua and Barbuda

In [27]:
# Get All data of Country_Region and World_Bank_Name 

df.loc[:,["Country_Region","World_Bank_Name"]]

    Country_Region        World_Bank_Name
0           Pyhton            Afghanistan
1          Albania                Albania
2          Algeria                Algeria
3          Andorra                Andorra
4           Angola                 Angola
..             ...                    ...
205             US  Virgin Islands (U.S.)
206            NaN     West Bank and Gaza
207            NaN            Yemen, Rep.
208         Zambia                 Zambia
209       Zimbabwe               Zimbabwe

[210 rows x 2 columns]

In [28]:
# Get a particular values from dataset using iloc
df.iloc[0,2]

'Afghanistan'

In [29]:
df.iloc[4,2]

'Angola'

In [30]:
df.iloc[6,8]

0.6

In [31]:
# Delete a particular rows or columns
df.drop("Health_exp_pct_GDP_2016",axis=1) # Drop Health_exp_pct_GDP_2016 columns

,Country_Region,Province_State,World_Bank_Name,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Pyhton,NaN,Afghanistan,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,Andorra,NaN,Andorra,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,Angola,NaN,Angola,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [32]:
df.dropna() # Drop NAN values

Empty DataFrame
Columns: [Country_Region, Province_State, World_Bank_Name, Health_exp_pct_GDP_2016, Health_exp_public_pct_2016, Health_exp_out_of_pocket_pct_2016, Health_exp_per_capita_USD_2016, per_capita_exp_PPP_2016, External_health_exp_pct_2016, Physicians_per_1000_2009-18, Nurse_midwife_per_1000_2009-18, Specialist_surgical_per_1000_2008-18, Completeness_of_birth_reg_2009-18, Completeness_of_death_reg_2008-16]
Index: []

In [46]:
df.dropna(axis=1) # Along Columns

           World_Bank_Name
0              Afghanistan
1                  Albania
2                  Algeria
3                  Andorra
4                   Angola
..                     ...
205  Virgin Islands (U.S.)
206     West Bank and Gaza
207            Yemen, Rep.
208                 Zambia
209               Zimbabwe

[210 rows x 1 columns]

In [47]:
df.dropna(axis=0) # Along row

Empty DataFrame
Columns: [Country_Region, Province_State, World_Bank_Name, Health_exp_pct_GDP_2016, Health_exp_public_pct_2016, Health_exp_out_of_pocket_pct_2016, Health_exp_per_capita_USD_2016, per_capita_exp_PPP_2016, External_health_exp_pct_2016, Physicians_per_1000_2009-18, Nurse_midwife_per_1000_2009-18, Specialist_surgical_per_1000_2008-18, Completeness_of_birth_reg_2009-18, Completeness_of_death_reg_2008-16]
Index: []

In [33]:
df.drop(3,axis=0) # Drop 5 number index

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,Pyhton,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,Albania,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,Algeria,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
4,Angola,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
5,Antigua and Barbuda,NaN,Antigua and Barbuda,4.3,60.6,32.2,623.1,976.4,0.0,2.8,3.1,14.0,NaN,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,US,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,Zambia,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,Zimbabwe,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

In [34]:
df.drop(columns = "Country_Region")

,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,NaN,Afghanistan,10.2,5.1,77.4,57.2,162.8,17.5,0.3,0.3,0.0,42.3,NaN
1,NaN,Albania,6.7,41.4,58.0,271.5,759.7,0.7,1.2,3.6,11.6,98.4,53.0
2,NaN,Algeria,6.6,67.7,30.9,260.4,998.2,0.0,1.8,2.2,12.1,100.0,NaN
3,NaN,Andorra,10.4,49.1,41.7,3834.7,4978.7,NaN,3.3,4.0,83.1,100.0,80.0
4,NaN,Angola,2.9,44.1,35.2,95.2,185.8,3.6,0.2,1.3,NaN,25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Virgin Islands,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN
207,NaN,"Yemen, Rep.",5.6,10.2,81.0,72.0,144.5,7.8,0.3,0.7,0.8,30.7,NaN
208,NaN,Zambia,4.5,38.3,12.1,56.5,175.2,42.5,0.1,0.9,1.5,11.3,NaN
209,NaN,Zimbabwe,9.4,46.5,21.2,93.9,185.0,25.4,0.1,1.2,1.6,38.0,NaN

# Data Visualization

In [35]:
df.describe()

,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
count,186.000000,186.000000,186.000000,186.000000,186.000000,167.000000,189.000000,189.000000,175.000000,163.000000,107.000000
mean,6.715054,52.915054,32.661828,1037.004839,1412.466667,9.116766,1.723280,4.139153,37.937143,84.202454,89.309346
std,2.976537,21.957736,19.572777,1712.592621,1690.018939,13.868251,1.570366,3.965282,40.877520,23.370024,18.071157
min,1.700000,5.100000,0.100000,16.400000,29.900000,0.000000,0.000000,0.100000,0.000000,2.700000,4.000000
25%,4.500000,36.825000,16.200000,85.700000,231.500000,0.200000,0.300000,1.100000,3.100000,77.150000,85.500000
50%,6.200000,55.850000,30.100000,322.600000,782.500000,1.700000,1.300000,2.800000,23.600000,96.000000,99.000000
75%,8.375000,70.600000,44.825000,1059.800000,1885.500000,13.400000,2.800000,6.100000,62.150000,100.000000,100.000000
max,23.300000,96.000000,81.000000,9869.700000,9869.700000,69.200000,8.200000,20.300000,195.600000,100.000000,100.000000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country_Region                        187 non-null    object
 1   Province_State                        14 non-null     object
 2   World_Bank_Name                       210 non-null    object
 3   Health_exp_pct_GDP_2016               186 non-null    float64
 4   Health_exp_public_pct_2016            186 non-null    float64
 5   Health_exp_out_of_pocket_pct_2016     186 non-null    float64
 6   Health_exp_per_capita_USD_2016        186 non-null    float64
 7   per_capita_exp_PPP_2016               186 non-null    float64
 8   External_health_exp_pct_2016          167 non-null    float64
 9   Physicians_per_1000_2009-18           189 non-null    float64
 10  Nurse_midwife_per_1000_2009-18        189 non-null    float64
 11  Specialist_surgical_per_1000_2008-18  175 non-null    float64
 12  Completeness_of_birth_reg_2009-18     163 non-null    float64
 13  Completeness_of_death_reg_2008-16     107 non-null    float64
dtypes: float64(11), object(3)
memory usage: 23.1+ KB

In [37]:
df.isnull()

,Country_Region,Province_State,World_Bank_Name,Health_exp_pct_GDP_2016,Health_exp_public_pct_2016,Health_exp_out_of_pocket_pct_2016,Health_exp_per_capita_USD_2016,per_capita_exp_PPP_2016,External_health_exp_pct_2016,Physicians_per_1000_2009-18,Nurse_midwife_per_1000_2009-18,Specialist_surgical_per_1000_2008-18,Completeness_of_birth_reg_2009-18,Completeness_of_death_reg_2008-16
0,False,True,False,False,False,False,False,False,False,False,False,False,False,True
1,False,True,False,False,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False,False,False,True
3,False,True,False,False,False,False,False,False,True,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,False,False,False,True,True,True,True,True,True,True,True,True,True,True
206,True,True,False,True,True,True,True,True,True,True,True,True,False,True
207,True,True,False,False,False,False,False,False,False,False,False,False,False,True
208,False,True,False,False,False,False,False,False,False,False,False,False,False,True
209,False,True,False,False,False,False,False,False,False,False,False,False,False,True

# Data Pre-Processing

In [38]:
df.isnull().sum()

Country_Region                           23
Province_State                          196
World_Bank_Name                           0
Health_exp_pct_GDP_2016                  24
Health_exp_public_pct_2016               24
Health_exp_out_of_pocket_pct_2016        24
Health_exp_per_capita_USD_2016           24
per_capita_exp_PPP_2016                  24
External_health_exp_pct_2016             43
Physicians_per_1000_2009-18              21
Nurse_midwife_per_1000_2009-18           21
Specialist_surgical_per_1000_2008-18     35
Completeness_of_birth_reg_2009-18        47
Completeness_of_death_reg_2008-16       103
dtype: int64

In [39]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
205    False
206    False
207    False
208    False
209    False
Length: 210, dtype: bool

In [40]:
df.duplicated().sum()

0

In [41]:
df.columns

Index(['Country_Region', 'Province_State', 'World_Bank_Name',
       'Health_exp_pct_GDP_2016', 'Health_exp_public_pct_2016',
       'Health_exp_out_of_pocket_pct_2016', 'Health_exp_per_capita_USD_2016',
       'per_capita_exp_PPP_2016', 'External_health_exp_pct_2016',
       'Physicians_per_1000_2009-18', 'Nurse_midwife_per_1000_2009-18',
       'Specialist_surgical_per_1000_2008-18',
       'Completeness_of_birth_reg_2009-18',
       'Completeness_of_death_reg_2008-16'],
      dtype='object')

In [42]:
df.index

RangeIndex(start=0, stop=210, step=1)

In [43]:
df.count()

Country_Region                          187
Province_State                           14
World_Bank_Name                         210
Health_exp_pct_GDP_2016                 186
Health_exp_public_pct_2016              186
Health_exp_out_of_pocket_pct_2016       186
Health_exp_per_capita_USD_2016          186
per_capita_exp_PPP_2016                 186
External_health_exp_pct_2016            167
Physicians_per_1000_2009-18             189
Nurse_midwife_per_1000_2009-18          189
Specialist_surgical_per_1000_2008-18    175
Completeness_of_birth_reg_2009-18       163
Completeness_of_death_reg_2008-16       107
dtype: int64

In [44]:
df.std

<bound method NDFrame._add_numeric_operations.<locals>.std of     Country_Region  Province_State        World_Bank_Name  \
0           Pyhton             NaN            Afghanistan
1          Albania             NaN                Albania
2          Algeria             NaN                Algeria
3          Andorra             NaN                Andorra
4           Angola             NaN                 Angola
..             ...             ...                    ...
205             US  Virgin Islands  Virgin Islands (U.S.)
206            NaN             NaN     West Bank and Gaza
207            NaN             NaN            Yemen, Rep.
208         Zambia             NaN                 Zambia
209       Zimbabwe             NaN               Zimbabwe

     Health_exp_pct_GDP_2016  Health_exp_public_pct_2016  \
0                       10.2                         5.1
1                        6.7                        41.4
2                        6.6                        67.7
3                       10.4                        49.1
4                        2.9                        44.1
..                       ...                         ...
205                      NaN                         NaN
206                      NaN                         NaN
207                      5.6                        10.2
208                      4.5                        38.3
209                      9.4                        46.5

     Health_exp_out_of_pocket_pct_2016  Health_exp_per_capita_USD_2016  \
0                                 77.4                            57.2
1                                 58.0                           271.5
2                                 30.9                           260.4
3                                 41.7                          3834.7
4                                 35.2                            95.2
..                                 ...                             ...
205                                NaN                             NaN
206                                NaN                             NaN
207                               81.0                            72.0
208                               12.1                            56.5
209                               21.2                            93.9

     per_capita_exp_PPP_2016  External_health_exp_pct_2016  \
0                      162.8                          17.5
1                      759.7                           0.7
2                      998.2                           0.0
3                     4978.7                           NaN
4                      185.8                           3.6
..                       ...                           ...
205                      NaN                           NaN
206                      NaN                           NaN
207                    144.5                           7.8
208                    175.2                          42.5
209                    185.0                          25.4

     Physicians_per_1000_2009-18  Nurse_midwife_per_1000_2009-18  \
0                            0.3                             0.3
1                            1.2                             3.6
2                            1.8                             2.2
3                            3.3                             4.0
4                            0.2                             1.3
..                           ...                             ...
205                          NaN                             NaN
206                          NaN                             NaN
207                          0.3                             0.7
208                          0.1                             0.9
209                          0.1                             1.2

     Specialist_surgical_per_1000_2008-18  Completeness_of_birth_reg_2009-18  \
0                                     0.0                               42.3
1                                    11.6                               98.4
2                                    12.1                              100.0
3                                    83.1                              100.0
4                                     NaN                               25.0
..                                    ...                                ...
205                                   NaN                                NaN
206                                   NaN                               96.0
207                                   0.8                               30.7
208                                   1.5                               11.3
209                                   1.6                               38.0

     Completeness_of_death_reg_2008-16
0                                  NaN
1                                 53.0
2                                  NaN
3                                 80.0
4                                  NaN
..                                 ...
205                                NaN
206                                NaN
207                                NaN
208                                NaN
209                                NaN

[210 rows x 14 columns]>

In [45]:
df.sample

<bound method NDFrame.sample of     Country_Region  Province_State        World_Bank_Name  \
0           Pyhton             NaN            Afghanistan
1          Albania             NaN                Albania
2          Algeria             NaN                Algeria
3          Andorra             NaN                Andorra
4           Angola             NaN                 Angola
..             ...             ...                    ...
205             US  Virgin Islands  Virgin Islands (U.S.)
206            NaN             NaN     West Bank and Gaza
207            NaN             NaN            Yemen, Rep.
208         Zambia             NaN                 Zambia
209       Zimbabwe             NaN               Zimbabwe

     Health_exp_pct_GDP_2016  Health_exp_public_pct_2016  \
0                       10.2                         5.1
1                        6.7                        41.4
2                        6.6                        67.7
3                       10.4                        49.1
4                        2.9                        44.1
..                       ...                         ...
205                      NaN                         NaN
206                      NaN                         NaN
207                      5.6                        10.2
208                      4.5                        38.3
209                      9.4                        46.5

     Health_exp_out_of_pocket_pct_2016  Health_exp_per_capita_USD_2016  \
0                                 77.4                            57.2
1                                 58.0                           271.5
2                                 30.9                           260.4
3                                 41.7                          3834.7
4                                 35.2                            95.2
..                                 ...                             ...
205                                NaN                             NaN
206                                NaN                             NaN
207                               81.0                            72.0
208                               12.1                            56.5
209                               21.2                            93.9

     per_capita_exp_PPP_2016  External_health_exp_pct_2016  \
0                      162.8                          17.5
1                      759.7                           0.7
2                      998.2                           0.0
3                     4978.7                           NaN
4                      185.8                           3.6
..                       ...                           ...
205                      NaN                           NaN
206                      NaN                           NaN
207                    144.5                           7.8
208                    175.2                          42.5
209                    185.0                          25.4

     Physicians_per_1000_2009-18  Nurse_midwife_per_1000_2009-18  \
0                            0.3                             0.3
1                            1.2                             3.6
2                            1.8                             2.2
3                            3.3                             4.0
4                            0.2                             1.3
..                           ...                             ...
205                          NaN                             NaN
206                          NaN                             NaN
207                          0.3                             0.7
208                          0.1                             0.9
209                          0.1                             1.2

     Specialist_surgical_per_1000_2008-18  Completeness_of_birth_reg_2009-18  \
0                                     0.0                               42.3
1                                    11.6                               98.4
2                                    12.1                              100.0
3                                    83.1                              100.0
4                                     NaN                               25.0
..                                    ...                                ...
205                                   NaN                                NaN
206                                   NaN                               96.0
207                                   0.8                               30.7
208                                   1.5                               11.3
209                                   1.6                               38.0

     Completeness_of_death_reg_2008-16
0                                  NaN
1                                 53.0
2                                  NaN
3                                 80.0
4                                  NaN
..                                 ...
205                                NaN
206                                NaN
207                                NaN
208                                NaN
209                                NaN

[210 rows x 14 columns]>