# Delete And insert Pandas

In [10]:
import pandas as pd
var = pd.DataFrame({"A":[1,2,3,4,5,6], "B": [6,7,4,5,6,9]})
var

   A  B
0  1  6
1  2  7
2  3  4
3  4  5
4  5  6
5  6  9

In [11]:
var.insert(1,"C++",var["A"]) # pass the data of duplicate of A

print(var)

   A  C++  B
0  1    1  6
1  2    2  7
2  3    3  4
3  4    4  5
4  5    5  6
5  6    6  9

In [12]:
var.insert(1,"Java",[1,2,3,4,5,6]) # for inserting Index no, Column name, which data insert
var

   A  Java  C++  B
0  1     1    1  6
1  2     2    2  7
2  3     3    3  4
3  4     4    4  5
4  5     5    5  6
5  6     6    6  9

In [13]:
var_1 = var.pop("C++") # For deleting the number using pop() and del
print(var_1)

0    1
1    2
2    3
3    4
4    5
5    6
Name: C++, dtype: int64