# Join

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
df2 = pd.DataFrame({"C":[1,2,3,4],"D":[10,20,30,40]})

df1.join(df2)

   A   B  C   D
0  1  11  1  10
1  2  12  2  20
2  3  13  3  30
3  4  14  4  40

In [3]:
df3 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"]) # Change for index
df4 = pd.DataFrame({"C":[1,2],"D":[10,20]},index = ["a","b"])

df3.join(df4)

   A   B    C     D
a  1  11  1.0  10.0
b  2  12  2.0  20.0
c  3  13  NaN   NaN
d  4  14  NaN   NaN

# Append

In [4]:
df5 = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}) 
df6 = pd.DataFrame({"C":[1,2],"D":[10,20]})

df5.append(df6,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'